.container{
    width: 37vw;
    height: 70vh;
    display: block;
    margin: auto;
    padding: 1rem;
    margin-top: 4rem;
    background-color: grey;
    /* border: 1px solid rgba(204, 200, 200, 0.87); */
    border-radius: 10px;
}
.container > input{
    width: 100%;
    height: auto;
    font-size: 35px;
    margin-bottom: .7rem;
    border: 1px solid wheat;
    z-index: 999;
}
.btnBox{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button{
    width: 9vw;
    height: 9vh;
    margin: .4rem;
    cursor: pointer;
    font-size: 35px;
}
button:nth-child(1){
    background-color: lightcoral;
    color: white;
    border: none;
}

